.banner{
        position: relative;
        .imgi{
                position: relative;
                display: inline-block;
            .img{
                background-size: cover;
                width: 100vw;
                display: block;
            }
            .heading{
                position: absolute;
                z-index: 1; position: absolute;
                top: 50%;
                left: 10%;
                transform: translate(-50%, -50%);
                text-align: center;
                background-color: rgba(255, 255, 255, 0.7); // Optional: Add a semi-transparent background to make text more readable
                padding: 20px; // Optional: Add padding around text
                z-index: 1; 
            }
            .arrowbtn{
                position: absolute;
                z-index: 1; 
                bottom: 2%;
                color: wheat;
                right: 4%;
            }

    }}